*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'android',cursive;
    src: url('../fontes/idroid.otf');
    font-weight: normal;
}
:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#1a5c37;

    --fonte-padrao:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --fonte-destaque:"Bebas Neue", sans-serif;
    --font-android:'android',cursive;

}
body{
    background-color: #83e1ad;
    
}
a.externo::after{
    content: '\00A0\1F517';
    font-size: 14px;
}
header{
    background-image: linear-gradient(to bottom, var(--cor2) , var(--cor5));
    padding: 40px;
}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    text-align: center;
    font-size: 3em;
    padding: 10px;
    text-shadow: 2px 2px 3px black;
}
header > p{
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 3px black;
}
nav{
    background-color: #1a5c37;
    padding: 3px;
}
nav > a{
    color: #83e1ad;
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    font-style: italic;
    font-family: var(--fonte-padrao);
}
nav > a:hover{
    background-color: #2fa866;
    text-decoration: underline;
    
}
main{
    background-color: white;
    min-width: 350px;
    max-width: 900px;
    margin: auto;
    padding: 2px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
    border-radius: 0px 0px 10px 10px;
}
main > h1{
    font-family: var(--font-android);
    padding: 3px;
    border-radius: 0px 0px 5px 5px;
}
main > h2{
    background-image: linear-gradient(to right,#3ddc84,transparent);
    font-family: var(--font-android);
    padding: 3px;
    border-radius: 0px 0px 5px 5px;
}
main > p{
    margin: 15px 0px;
    text-align: justify;
    padding: 8px;
    font-family: var(--fonte-padrao);
    font-size: 18px;
    text-indent: 20px;
}
main a{
    background-color: #3ddc84;
    padding: 0px 5px;
    text-decoration: none;
    color: #1a5c37;
}
main img{
    width: 100%;
}
main img.pequena{
    width: 50%;
    display: block;
    margin: auto;
}
div.video{
    background-color: #1a5c37;
    margin:0px -10px 30px -10px ;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
div.video >iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: #83e1ad;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.548);
}
aside > h3{
    background-color: #1a5c37;
    padding: 8px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-family: var(--fonte-padrao);
    text-shadow: 2px 2px 3px black;
    text-align: center;
    font-size: 22px;
}
aside > p{
    text-align: justify;
    padding: 8px;
    font-family: var(--fonte-padrao);
    font-size: 17px;
}
aside > ul{
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}
ul >li{
    color: black;
    font-weight: bold;
    font-style: italic;
}
ul > li:hover{
    color: red;
    text-decoration: underline;
}
footer{
    background-color: black;
    padding: 5px;
    margin-top: 20px;
}
footer > p{
    color: white;
    text-align: center;
    font-size: 18px;
}